* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../images/salon_etudiants3.jpg);
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.logo {
  font-size: 50px;
  object-fit: cover;
  color: #ffffff;
  padding: 30px;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
}

.navigation ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}

.navigation ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.navigation .enroll {
  size: 39px;
}
