* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  background: radial-gradient(
    circle,
    rgb(213, 193, 193) 0%,
    rgb(157, 174, 186) 100%
  );
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: rgb(203, 105, 105);
}

nav img {
  width: 140px;
  height: 85px;
  object-fit: cover;

  mix-blend-mode: multiply;
  position: center;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 200px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 200px;
}

.navigation ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  gap: 25px;
  padding-right: 75px;
}

.navigation ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

h2 {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 50px;
  padding: 35px;
  padding-top: 10vh;
}

.container {
  display: flex;
}

.text {
  display: flex;
  flex-direction: column;
}

.general {
  color: white;
  font-size: 15px;
  color: #ffffff;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: space-around;
}

.buy {
  background-color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #ffffff;
  border-radius: 50px;
  width: 100px;
  height: 35px;
  position: relative;
  visibility: inherit;
}
.image {
  mix-blend-mode: multiply;
}
